@media screen and (max-width: 1230px) {

    /*
  
    App Styles
  
    */
  
    .container {
      max-width: 1000px;
    }
    
    .app-wrapper {
      display: block;
    }
    
    .profile__wrapper {
      min-width: 100%;
    }
    
    .content__wrapper {
      min-width: 100%;
    }
  
  /*
  
  Person Section
  
  */
  
  .section--profile {
    position: static;
    display: block;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100%;
  }
  
  .section--profile::before {
    position: static;
    display: block;
    width: 100%;
    min-height: 100vh;
  }
  
  .person-profile__inner {
    width: 100%;
  }
  
  .profile__header {
    margin-bottom: 15px;
  }
  
  .profile__title {
    font-size: calc(var(--index) / 0.5);
  }
  
  .profile__suptitle {
    font-size: calc(var(--index) / 0.7);
  }
  
  .profile__socials {
    font-size: calc(var(--index) / 0.9);
  }
  
  .socials__item {
    margin-right: 10px;
  }
  
  .socials__item a {
    color: white;
  }
  
  /* 
  
  Main Header
  
  */
  
  .header{
    display: none;
  }
  
  .nav__link{
    font-size: calc(var(--index) / 0.75);
  }
  
  /*
  
  About Section
  
  */
  
  /* Section_Header */
  
  .section__header {
    padding-top: 25px;
    margin-bottom: 25px;
  }
  
  .section__title{
    text-align: center;
    font-size: calc(var(--index) / 0.4);
  }
  
  .section__title::after{
    margin: 0 auto;
    width: calc(var(--index) * 6);
    height: 2px;
    margin-top: 3px;
  }
  
  .about__inner{
    font-size: calc(var(--index) / 0.7);
    max-height: 90%;
  }
  
  .about__text {
    margin-bottom: 15px;
  }
  
  /* Slider about */

  .slider{
    margin: 0 30px;
    text-align: center;
  }
  
  .slide__image{
    display: block;
    width: 60%;
    max-width: 100%;
    margin: 0 auto;
  }
  
  .about__button::after {
    width: calc(var(--index) / 0.8);
    height: calc(var(--index) / 0.8);
  }
  
  /* 
  
  SKILLS SECTION
  
  */
  
  .stat{
    font-size: calc(var(--index) / 0.6);
  }
  
  .stat__item{
    margin-bottom: 28px;
  }
  
  .stat__info{
    padding: 3px 0;
  }
  
  .stat__title {
    margin-right: 35px;
  }
  
  .stat__percent{
    font-size: calc(var(--index) / 0.8);
  }
  
  .progress-bar {
    height: 2px;
  }
  
  /* 
  
  EDUCATION SECTION
  
  */
  .institutions__item {
    margin-bottom: 26px;
  }
  .intitution__year {
    font-size: calc(var(--index) / 0.9);
    margin-bottom: 3px;
  }
  .intitution__name {
    font-size: calc(var(--index) / 0.5);
  }
  .intitution__content {
    font-size: calc(var(--index) / 0.8);
    line-height: 22px;
    margin-bottom: 2px;
  }
  .intitution__location {
    font-size: calc(var(--index) / 0.9);
  }
  
  /* 
  
  INTEREST SECTION
  
  */
  
  .interest__item {
    margin-bottom: 32px;
  }
  .interest__title {
    font-size: calc(var(--index) / 0.5);
  
  }
  .interest__content {
    font-size: calc(var(--index) / 0.7);
  }
  
  /* 
  
  CONTACT SECTION
  
  */
  
  .contact__item {
    margin-bottom: 30px;
    font-size: calc(var(--index) / 0.5);
  }
  
  } 